<?xml version="1.0" encoding="UTF-8"?>  
<!-- Moved to anothe dir then the project--> 
<configuration>
    <!-- for local test: ipServer = "127.0.1.1" 209.208.79.151 -->
    <sipServer ip="74.117.31.73"/>
    <sipIdLocal sipid="ALGdetector"/>
    <agentname agentname="CISCO spa504g"/>
    <!-- test with id=1 is equivalent to test A in the plugin GUI -->   
    <test id="1">      
        <portsrc> 5060</portsrc>
        <portdest>5092</portdest>
        <transport>udp</transport>
    </test>
    <!-- test with id=2 is equivalent to test B in the plugin GUI -->   
    <test id="2">      
        <portsrc>5060</portsrc>
        <portdest>5092</portdest>
        <transport>tcp</transport>
    </test>
    <!-- test with id=3 is equivalent to test C in the plugin GUI -->   
    <test id="3">      
        <portsrc> 5062</portsrc>
        <portdest>5092</portdest>
        <transport>udp</transport>
    </test>
    <!-- test with id=4 is equivalent to test D in the plugin GUI -->   
    <test id="4">      
        <portsrc>5062</portsrc>
        <portdest>5092</portdest>
        <transport>tcp</transport>
    </test>
</configuration>