/eclipse/

/tagLibSamples/nbproject/private/
/tagLibSamples/build/
/tagLibSamplesV2/nbproject/private/
/tagLibSamplesV2/build/
/tagLibSamplesV2/dist/
/WebApplication1/nbproject/private/
/tagLibSamples/dist/
/rmiTest/nbproject/private/
/rmiServer/nbproject/private/
/rmiClient/nbproject/private/
/rmiCase/nbproject/private/
/rmiCase/build/
/rmiCase/dist/
/JspExamples/nbproject/private/
/wordpress/nbproject/private/
/safiratech.com/nbproject/private/
/contactList/nbproject/private/
/isaeNetAddr/nbproject/private/
/PhpWeb/nbproject/private/
/facebookLike/nbproject/private/
/facebookLike/build/
/tracking/nbproject/private/
/mavenProjects/MavenPlatformWordApp/branding/target/
/mavenProjects/MavenPlatformWordApp/MavenWordEngine/target/
/mavenProjects/MavenPlatformWordApp/application/target/
/mavenProjects/MavenPlatformWordApp/TextFilter/target/
/mavenProjects/MavenPlatformWordApp/MyFilter/target/
/mavenProjects/MavenPlatformWordApp/History/target/
/junit/JUnit-Sample/nbproject/private/
/junit/JUnitSampleSol/nbproject/private/
/junit/JUnit-Sample/build/
/junit/JUnit4-Sample/nbproject/private/
/twilioSMS/nbproject/private/
/whmcs/nbproject/private/
/datePicker/nbproject/private/
/datePicker/build/
/sampleapp/nbproject/private/
/smartyapp/nbproject/private/
/whmcsV1/nbproject/private/
/hibernate/DVDStore/nbproject/private/
/hibernate/DVDStore/dist/
/hibernate/DVDStore/build/
/hibernate/simpleJavaApp/nbproject/private/
/simpleJavaApp/nbproject/private/
/simpleJavaApp/build/
/crouseraTmp/nbproject/private/
/crouseraTmp/build/
/JSONtest/nbproject/private/
/JSONtest/build/
/jsonExample/nbproject/private/
/jsonExample/build/
/restful/HelloWorldApplication/nbproject/private/
/restful/HelloWorldApplication/build/
/restful/HelloWorldApplication/dist/
/openNLP/OpenNLPSample/nbproject/private/
/openNLP/OpenNLPSample/build/
/slacker/nbproject/private/
/cssSamples/nbproject/private/
/CSSSamples/nbproject/private
/cssSamples/build/
/javascriptExamples/JavascriptExamples/nbproject/private/
/simpleJavaApp/dist/
/Ajax_javascript/JavascriptExamples/build/
/proxy/glype1.4/nbproject/private/
/proxy/glp1.4/nbproject/private/
/Ajax_javascript/AjaxInclude/nbproject/private/
/sendEmail/nbproject/private/
/Jquery/nbproject/private/
/surf/nbproject/private/
/surf/simpleproxy/nbproject/private/
/APIs/nbproject/private/
/spring/HelloSpring/nbproject/private/
/spring/HelloSpring/build/
/spring/HelloSpring/dist/
/spring/originalhelloSpring/HelloSpring/nbproject/private/
/spring/originalhelloSpring/HelloSpring/build/
/spring/MyGame/nbproject/private/
/java-applications/MyGame/nbproject/private/
/java-applications/MyGame/build/
/sip/SipClient/build/
/sip/server/SipServer/build/
/sip/peers/peersProject/nbproject/private/
/sip/peers/peers-0.4.3/nbproject/private/
/sip/peers/peers-0.4.3/build/
/sip/peers/peers-0.4.3/dist/
/sip/SipBLf/nbproject/private/
/sip/SipBLf/build/
/sip/SipBLf/conf/
/sip/SipBLf/dist/
/sip/peers-0.4.3/build/
/sip/peers-0.4.3/dist/
/sip/peers-0.4.3/nbproject/private/
/sip/peers/SipBlf/nbproject/private/
/sip/peers/SipBlf/build/
/sip/peers/peers-0.4.3(bck)/build/
/sip/peers/peers-0.4.3(bck)/dist/
/sip/peers/peers-0.4.3(bck)/nbproject/private/
/sip/peers/peers-0.4.3-bck/build/
/sip/peers/peers-0.4.3-bck/dist/
/sip/peers/peers-0.4.3-bck/nbproject/private/
/sip/peers/peersApp/nbproject/private/
/java-applications/JavaUtil/nbproject/private/
/java-applications/JavaUtil/build/
/sip/peers/peersApp/build/
/sip/peers/peersAppEdited/nbproject/private/
/sip/SipUAC/nbproject/private/
/sip/SipUAC/build/
/sip/SipDigestAuth/nbproject/private/
/sip/SipDigestAuth/build/
/sip/client/SipClient/dist/
/sip/androidSip/nbproject/private/
/sip/nist-Sip-Gingerbeard/nbproject/private/
/xml/parsingXML/nbproject/private/
/xml/parsingXML/build/
/xml/parsingXML/dist/
/swing/ListDialog/nbproject/private/
/swing/ListDialog/build/
/swing/ListDialog/dist/
/swing/BuddyListLib/nbproject/private/
/swing/BuddyListLib/build/
/swing/BuddyListLib/dist/
/swing/SipClientBO/nbproject/private/
/sip/client/SipClientBO/nbproject/private/
/sip/client/SipClientLib/nbproject/private/
/sip/client/SipClientbck9am/build/
/sip/client/SipClientbck9am/dist/
/sip/client/SipClientbck9am/nbproject/private/
/sip/client/SipClient (copy)/build/
/sip/client/SipClient (copy)/dist/
/sip/client/SipClient (copy)/nbproject/private/
/sip/client/SipClient10am/build/
/sip/client/SipClient10am/dist/
/sip/client/SipClient10am/nbproject/private/
/sip/client/SipClientLib/dist/
/sip/client/SipClientLib/build/
/sip/client/SipClientLibTest/nbproject/private/
/java-applications/XMLManipulation/nbproject/private/
/java-applications/XMLManipulation/build/
/java-applications/XMLManipulation/dist/
/JspExamples/build/
/JSP/HostName/nbproject/private/
/JSP/HostName/build/
/JSP/HostName/dist/
/safirasoft.com/nbproject/private/
/sip/client/SipClientBLF/nbproject/private/
/sip/client/SipClientBLF/build/
/sip/codecs/g729/nbproject/private/
/sip/client/SipClientBLF/src/test/MainTest.java
/HTML5/HTML5Application/nbproject/private/
/googlemaps/nbproject/private/
/APIs/googlemaps/nbproject/private/
/google/googlemaps/nbproject/private/
/googleAPI/googlemaps/nbproject/private/
/JPA/Myjpa/nbproject/private/
/sip/SipUAC/dist/
/sip/ClientServer/SipClient/build/
/sip/siptools/nbproject/private/
/sip/siptools/build/
/sip/siptools/dist/
/java-applications/Applets/applet_HelloWorld/nbproject/private/
/java-applications/Applets/applet_HelloWorld/build/
/java-applications/Applets/applet_ComponentArch_DynamicTreeDemo/dist/
/sip/siptools/SipLib/nbproject/private/
/sip/SIPTOOLS/SipLib/build/
/sip/SIPTOOLS/SipServerLib/nbproject/private/
/sip/SIPTOOLS/SipServerLib/dist/
/sip/SIPTOOLS/SipServerLib/build/