/* 
    Document   : newcss
    Created on : Oct 31, 2013, 8:42:08 AM
    Author     : salim
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.top h1, .leftNavigation h1, .rightMarginNote h1, .content > h1 {
  /* lots of style attributes */
  /*font-size: 12pt;*/
  color:green;
}
.similarly h2 { /* lots of style attributes */ }
.similarly h3 { /* lots of style attributes */ }
.titledimage h1 { color:red; bottom-border: 1px solid blue; }

