<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <sipServer ip="209.208.79.151"/>
    <sipIdLocal sipid="ALGdetector"/>
    <agentname agentname="Cisco/SPA303-8.0.1"/>
    <test id="testtA">      
            <portsrc portsrc="5060"/>
            <portdest portdest="5060"/>
            <transport transport="udp"/>
    </test>
      <test id="testB">      
            <portsrc portsrc="5060"/>
            <portdest portdest="5060"/>
            <transport transport="tcp"/>
    </test>
      <test id="testC">      
            <portsrc portsrc="5062"/>
            <portdest portdest="5060"/>
            <transport transport="udp"/>
    </test>
      <test id="testD">      
            <portsrc portsrc="5062"/>
            <portdest portdest="5060"/>
            <transport transport="tcp"/>
    </test>
</configuration>