<?xml version="1.0" ?><PROPERTIES><SIP-SERVER>209.208.79.151</SIP-SERVER><SIP-SERVER-PORT>5060</SIP-SERVER-PORT><Local-IP>141.138.188.58</Local-IP><SIP-LOCAL-PORT>5060</SIP-LOCAL-PORT><LOCAL-HOST-NAME>My Host</LOCAL-HOST-NAME><SIP-ID>298</SIP-ID><SIP-Realm-Domain>TALKSWITCH</SIP-Realm-Domain><SIP-Auth-ID>user298</SIP-Auth-ID><SIP-PASSWORD>Winter2013</SIP-PASSWORD><EXT-TO-MONITOR>299,140,5148775000</EXT-TO-MONITOR><SIP-PROTOCOL>udp</SIP-PROTOCOL><SIP-LOCAL-MACHINE-UUID>dccb4fab-efa3-430b-bab9-02afe0d80efa</SIP-LOCAL-MACHINE-UUID></PROPERTIES>