<?xml version="1.0" ?><PROPERTIES><SIP-SERVER></SIP-SERVER><SIP-SERVER-PORT>-1</SIP-SERVER-PORT><Local-IP></Local-IP><SIP-LOCAL-PORT>-1</SIP-LOCAL-PORT><LOCAL-HOST-NAME></LOCAL-HOST-NAME><SIP-ID></SIP-ID><SIP-Realm-Domain></SIP-Realm-Domain><SIP-Auth-ID></SIP-Auth-ID><SIP-PASSWORD></SIP-PASSWORD><EXT-TO-MONITOR></EXT-TO-MONITOR><SIP-PROTOCOL></SIP-PROTOCOL><SIP-LOCAL-MACHINE-UUID></SIP-LOCAL-MACHINE-UUID></PROPERTIES>